.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.logo {
  font-weight: 500;
  font-size: 40px;
  color: gray;
  display: flex;
}
.input {
  width: 350px;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
.button {
  padding: 5px;
  border: 1px solid black;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  height: 35px;
}
.navbar {
  margin: 10px 0 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  border-bottom: 2px solid gray;
  padding-bottom: 20px;
}
nav {
  font-size: 16px;
  color: gray;
}
.logoutButton {
  cursor: pointer;
  background: transparent;
  border: 0;
  color: gray;
}
.form {
  width: 800px;
  position: absolute;
  left: 100px;
  top: 35px;
}
