.logo {
  font-weight: 500;
  font-size: 40px;
  color: gray;
  display: flex;
}

.navbar {
  margin: 10px 0 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  border-bottom: 2px solid gray;
  padding-bottom: 20px;
}
